/*VARIABLES DE COLOR*/

$color_fuente_texto: hsl(220, 15%, 55%);
$color_fuente_titulo: hsl(218, 44%, 22%);
$color_background_body: #D5E1EF;
$color_background_card: #fff;

/*VARIABLES DE FUENTE*/

$font_family: "Outfit";
$size_texto: 17px;
$size_titulo: 25px;
$wieght_titulo: 700;
$weight_texto: 400;

/*VARIABLES DE MEDIDAS*/

$padding: 20px;
$margin: 20px;
$ancho_card: 320px;
$alto_card: 500px;

$anchoyalto_img: 280px;
$border_radius: 10px
